{{>head}}
{{>navbar}}

 
<div class="container">
<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Location</th>
      <th scope="col">Gender</th>
      <th scope="col">Date</th>
      <th scope="col">Direction</th>
      <th scope="col">Time</th>
      <th scope="col">Department</th>
      <th scope="col">selected</th>
    </tr>
  </thead>
  <tbody>
    {{#each user}}
    <tr>
      <th scope="row">{{@index_1}}</th>
      <td>{{this.loc}}</td>
      <td>{{this.gender}}</td>
      <td>{{this.date}}</td>
      <td>{{this.dir}}</td>
      <td>{{this.trip_t}}</td>
      <td>{{this.dep}}</td>
      <td>{{this.selected}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>

 
{{>tail}}