{{>head title="View Trips"}}
{{>navbar}}



<center>
  <p class="fw-light text">
    <h2> View Trips</h2>
  
  </p>
</center>




<div class="container">
<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Location</th>
      <th scope="col">Gender</th>
      <th scope="col">Date</th>
      <th scope="col">Direction</th>
      <th scope="col">Time</th>
      <th scope="col">Department</th>
      <th scope="col">selected</th>
      <th scope="col">action</th>

      
      
    </tr>
  </thead>
  <tbody>
    {{#each all_trip}}
    <tr>
      <th scope="row">{{@index}}</th>
      <td>{{this.loc}}</td>
      <td>{{this.gender}}</td>
      <td>{{this.date}}</td>
      <td>{{this.dir}}</td>
      <td>{{this.trip_t}}</td>
      <td>{{this.dep}}</td>
      <td>{{this.selected}}</td>
    <td>
      {{#if this.selected}}
      <form action="/selected_post" method="post">
          <input type="hidden" name="selected_id" value="{{this._id}}"> 
          <button class="btn btn-success" type="submit" disabled >select</button>
      </form>
      {{else}}
        <form action="/selected_post" method="post">   <!-- goes to the selected post pg and updates-->
          <input type="hidden" name="selected_id" value="{{this._id}}"> 
          <button class="btn btn-success" type="submit" >select</button>
        </form>
      {{/if}}
      
    </td>

    </tr>
    {{/each}}
  </tbody>
</table>
</div>
{{>tail}}